body { 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

canvas {
    background-color: #222;
    border: 2px solid white;
}

